<div class="content__login--head">
   <div class="icon-login"><img src="images/icon_login.png" /></div>
   <h1 class="content__login--title">Iniciar Sesion</h1>
</div>
<div class="content__login--bady">
   <div class="magen--login">
      <form role="form" name="form1" no-validate>
         <input type="text" class="login--input" placeholder="Usuario" required ng-model="user.username" />
         <input type="password" class="login--input" placeholder="Contraseña" required ng-model="user.password" />
         <button class="boton" type="submit" ng-disabled="form1.$invalid" ng-click="login(user)">Entrar</button>
      </form>
   </div>
</div>