body {
    overflow-x: hidden;
    background-color: #f1f2f7;
}

.center {
    text-align: center;
}

.k {
    font-size: 12px;
}

.fixed-btn {
    width: 100%;
}

.selectedFile {
    background: #32323A;
    color: white;
    font-weight: bold;
}

.card-image {
    height: 400px;
    overflow: hidden;
}

.card-image img {
    height: 500px;
}

.marg-top {
    position: relative;
    top: 84px;
}

.section-tabs {
    display: block;
    left: 260px;
    width: 100%;
    position: fixed;
    top: 84px;
    z-index: 10;
}

.ta-toolbar {
    margin-top: 20px;
}

.ta-toolbar .btn-group {
    display: inline;
    margin-right: 10px;
}

.ta-toolbar .btn-group .btn {
    margin-bottom: 5px;
    background: #DFDFDF;
    color: #5A5656;
}

.ta-toolbar .btn-group .active {
    background: #26A69A;
    color: #fff;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.ta-scroll-window > .ta-bind {
    min-height: 100px;
}

@media screen and (min-width: 993px) {
    .fixed-container {
        margin-left: 240px;
    }
}

@media screen and (max-width: 992px) {

}

.card-image {
    height: 200px;
    overflow: hidden;
}

.card-image img {
    height: 500px;
    margin-top: -200px;
}

.paramType {
    margin-bottom: 20px;
}

body, html {
    background: repeat-y #f1f2f7;
}

.search {
    margin: 15px 0 -15px 0;
    padding: 0;
}

.absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    width: 50%;
    height: 50%;
}
