* {
   padding: 0;
   margin: 0;
}

body{
   background-color: #34495e;
}
.cuerpo {
   background-color: #34495e;
   width: 100%;
   height: 100%;
   position: relative;
   display: block;
}

.cuerpo--content_login {
   box-shadow: 4px 7px 4px 0.00px rgba(0, 0, 0, 0.14);
   width: 27%;
   margin: 0 auto;
   margin-top: 150px;
}

.content__login--head {
   display: block;
   background-color: #079dd0;
   padding-top: 31px;
   padding-bottom: 20px;
}

.icon-login {
   background-color: #ffffff;
   border-radius: 50%;
   box-shadow: 1px 2px 4px 0.00px rgba(0, 0, 0, 0.28);
   text-align: center;
   width: 143px;
   height: 143px;
   margin: 0 auto;
}

.icon-login img {
   margin: 0 auto;
   width: 87px;
   height: 74px;
   margin-top: 30px;
}

.content__login--title {
   color: #ffffff;
   font: 500 35px 'Roboto';
   display: block;
   text-align: center;
   margin-top: 10px;
}

.content__login--bady {
   background: #ffffff;
   display: block;
}

.login--input {
   border: 0 none;
   color: #a2a2a2;
   font: 20px 'Roboto';
   font-weight: 300;
   border-bottom: 1px solid #d7d7d7;
   width: 100%;
   display: block;
   margin-bottom: 20px;
   height: 30px;
   outline: none;
}

.login--input:focus{
   border-bottom: 1px solid #079dd0;
}

.magen--login {
   padding: 40px 40px;
   padding-bottom: 60px;
}

.boton {
   background-color: #eeeeee;
   border-radius: 4px;
   cursor: pointer;
   height: 37px;
   width: 100%;
   color: #a2a2a2;
   outline: none;
   font: 300 20px 'Roboto';
   border: 0 none;
   margin-top: 20px;
}

.boton:hover{
   background-color: #e1e1e1;
}

.boton:focus{
   background-color: #e1e1e1;
}