.top-nav {
  background-color: #fdfdfd;
  position: fixed;
  z-index: 10;
}
.top-nav ul li a {
  min-width: 200px;
}
.top-nav ul li:hover {
  background-color: transparent;
}
.side-nav {
  background-color: #32323a;
}
.side-nav .logo {
  background-color: #19b597;
}
.side-nav .logo:hover {
  background: #1e8a80;
}
.side-nav .logo .brand-logo {
  position: relative;
  background-color: transparent;
}
.side-nav .logo .brand-logo .hpc-logo {
  width: 70%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
.side-nav .logo h3 {
  color: #fff;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}
.side-nav .projects {
  padding: 0;
}
.side-nav .projects a {
  background-color: #28282e;
  border-radius: 0;
  color: #19b597;
}
.card .card-content {
  padding: 5px 20px 5px 20px;
  border-radius: 0;
}
.projects-list {
  background-color: #32323a;
  border-bottom: 1px solid #38383e;
  width: 100%;
}
.projects-list i {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  color: #636365;
  font-size: 20px;
}
.projects-list a {
  height: 50px;
  line-height: 50px;
  color: #a5a5a5 !important;
  text-transform: uppercase;
}
.projects-list:hover {
  background-color: #28282e !important;
}
.projects-list .activate {
  background-color: #28282e !important;
}
.limp {
  line-height: 17;
  clear: both;
}
.project-title {
  font-size: 1.5rem;
  margin: 0 0 0 0;
}
