.top-nav
  background-color #FDFDFD
  ul
    li:hover
      background-color transparent

.side-nav
  background-color #32323A
  .logo
    h3
      color white
      margin 0
      padding-bottom 8px
      padding-top 8px
    background-color #19B597
  .proyectos
    padding 0
    a
      background-color #28282E
      border-radius 0
      color #19B597
