.top-nav
  background-color #FDFDFD
  position fixed
  z-index 10
  ul
    li
      a
        min-width 200px
    li:hover
      background-color transparent


.side-nav
  background-color #32323A
  .logo
    &:hover
      background #26a69a
    .brand-logo
      position relative
      background-color transparent
      .hpc-logo
        width 70%
        cursor pointer
        display block
        margin 0 auto
        position relative
        top 10px
    h3
      color white
      margin 0
      padding-bottom 8px
      padding-top 8px
    background-color #26a69a
  .projects
    padding 0
    a
      background-color #28282E
      border-radius 0
      color #26a69a

.card
  .card-content
    padding 5px 20px 5px 20px
    border-radius 0




.projects
  background-color #32323a
  border-bottom 1px solid #38383e
  width 100%
  i
    height 50px
    line-height 50px
    cursor pointer
    color #636365
    font-size 20px
  a
    height 50px
    line-height 50px
    color #a5a5a5 !important
    text-transform uppercase
  &:hover
    background-color #28282e !important
  .active
    background-color #28282e !important

.limp
  line-height 17
  clear both

.card-panel
  padding 20px 20px 10px 20px
  .project-title
    font-size 1.5rem
    margin 0 0 0 0
  .project-description
    margin 0 0 10px 0

.project-list
  background-color #32323a
  border-bottom 1px solid #38383e
  width 100%
  li
    i
      height 50px
      line-height 50px
      cursor pointer
      color #636365
      font-size 20px
    a
      height 50px
      line-height 50px
      color #a5a5a5 !important
      text-transform uppercase
    &:hover
      background-color grey
      color black
  .active
    background-color red