<header>
   <div navbar-directive>

   </div>
   <div class="container">

      <div class="hide-on-large-only">
         <a href="#" data-activates="slide-out" class="button-collapse top-nav"><i
                    class="medium material-icons">menu</i></a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
         <li class="logo">
            <a id="logo-container" href="/" class="brand-logo">
               <img src="/images/logo.png" class="hpc-logo" />
            </a>
         </li>
         <li class="projects">
            <a href="#newToolModal" class="waves-effect waves-light btn" modal>
               <i class="material-icons left">settings_applications</i> Herramientas
               <i class="material-icons right">add</i>
            </a>

         </li>
         <li class="divider"></li>

         <div ng-repeat="tool in tools"  class="project-list">
            <li class="project-list animation projects-list waves-effect">
               <i class="material-icons left">build</i>
               <a ui-sref="admin.tool({toolID: tool.id})" class="truncate">{{tool.name}}</a>
            </li>
         </div>


      </ul>
   </div>
</header>



<div id="newToolModal" class="modal">
   <div class="modal-content">
      <h4>Nueva herramienta</h4>

      <form name="ToolForm" novalidate>
         <div class="input-field">
            <label for="name">Nombre</label>
            <input name="name" type="text" id="name" ng-required="true" ng-model="newTool.name">
         </div>
      </form>
   </div>
   <div class="modal-fixed-footer center-align">
      <button class="btn waves-effect waves-light" ng-disabled="ToolForm.$invalid || ToolForm.$pristine" ng-click="createTool(newTool)">Guardar
      </button>
   </div>
</div>

<main class="marg-top">
   <div class=" fixed-container">

      <div class="row">

         <div ui-view class="col  s12 center-view">
            <div class="center" ng-if="tools.length == 0">
               <p><i style="font-size: 80px;" class="material-icons teal-text">sentiment_dissatisfied
               </i></p>
               <p>No hay herramientas aún, agrega una.</p>
            </div>
         </div>

      </div>
   </div>
</main>
