<header>
    <nav class="top-nav">
        <div>
            <div class="nav-wrapper">
                <ul class="right">
                    <li>
                        <a class="dropdown-button btn" href="#" data-beloworigin="true" data-activates="userDropdown"
                           dropdown
                           data-hover="true">
                            <div ng-show="user.first_name == ''">
                                {{user.username}}
                            </div>
                            <div ng-show="user.first_name != ''">
                                {{user.first_name}}
                            </div>
                        </a>
                    </li>
                </ul>
                <ul id="userDropdown" class="dropdown-content">
                    <li><a href="#editUserModal" ng-click="copyUser()" modal>Editar</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout()">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="hide-on-large-only">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav"><i
                    class="medium material-icons">menu</i></a>
        </div>
        <ul id="slide-out" class="side-nav fixed">
            <li class="logo">
                <a id="logo-container" href="/home" class="brand-logo">
                    <img src="/images/logo.png" class="hpc-logo"/>
                </a>
            </li>
            <li class="projects">
                <a href="#newProjectModal" class="waves-effect waves-light btn" modal>
                    <i class="material-icons left">settings_applications</i> Proyectos
                    <i class="material-icons right">add</i>
                </a>
            </li>
            <li ng-repeat="project in projects" class="animation projects-list waves-effect">
                <i class="material-icons left">book</i>
                <a ui-sref="home.project({projectID: project.id})" class="truncate">{{project.name}}</a>
            </li>
            <li class="divider"></li>
            <li class="projects">
                <a ui-sref="home.files" class="waves-effect waves-light btn modal-trigger">
                    <i class="material-icons left">attachment</i> Archivos
                </a>
            </li>
        </ul>
        <div id="editUserModal" class="modal">
            <div class="modal-content">
                <h4>Edición de usuario</h4>

                <form name="UserForm" novalidate>
                    <input type="hidden" name="id" ng-model="uUser.id" value="{{user.id}}">
                    <input type="hidden" name="username" ng-model="uUser.username" value="{{user.username}}">

                    <div class="input-field">
                        <label for="first_name">Nombres</label>
                        <input class="validate" name="first_name" type="text" id="first_name" ng-required="true"
                               ng-model="uUser.first_name">
                    </div>
                    <div class="input-field">
                        <label for="last_name">Apellidos</label>
                        <input name="last_name" type="text" id="last_name" ng-required="true"
                               ng-model="uUser.last_name">
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email" ng-required="true" ng-model="uUser.email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    </div>
                </form>
            </div>
            <div class="modal-fixed-footer center-align">
                <button class="btn waves-effect waves-light" ng-disabled="UserForm.$invalid || UserForm.$pristine"
                        ng-click="updateUser(uUser)">Editar
                </button>
            </div>
        </div>
        <div id="newProjectModal" class="modal">
            <div class="modal-content">
                <h4>Nuevo proyecto</h4>

                <form name="ProjectForm" novalidate>
                    <div class="input-field">
                        <label for="name">Nombre</label>
                        <input name="name" type="text" id="name" ng-required="true" ng-model="project.name">
                    </div>
                    <div class="input-field">
                        <label for="description">Descripción</label>
                    <textarea class="materialize-textarea" name="description" id="description"
                              ng-model="project.description" md-maxlength="140"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-fixed-footer center-align">
                <button class="btn waves-effect waves-light" ng-disabled="ProjectForm.$invalid || ProjectForm.$pristine"
                        ng-click="createProject(project)">Guardar
                </button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="fixed-container" style="border-collapse: collapse;">
        <div class="row">
            <div class="col s12 m9 l10" ui-view style="margin-top: 84px;">

            </div>
        </div>
    </div>
</main>