<header>
    <nav class="top-nav">
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </nav>
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav ng-isolate-scope" data-sidenav="left"
           data-closeonclick="false"><i class="mdi-navigation-menu"></i></a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
            <h3>hpcLabUI</h3>
        </li>
        <li class="proyectos">
            <a href="" class="waves-effect waves-light btn">
                <i class="material-icons left">settings_applications</i>
                Proyectos
                <i class="material-icons right">add</i>
            </a>
        </li>
        <!--
                <li class="bold"><a href="#about" class="waves-effect waves-teal">About angular-materialize</a></li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold active"><a class="collapsible-header waves-effect waves-teal active">Forms</a>

                            <div class="collapsible-body" style="display: block;">
                                <ul>
                                    <li><a href="#input-field">Input-field</a></li>
                                    <li><a href="#input-date">Input-date</a></li>
                                    <li><a href="#select">Material select</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold active"><a class="collapsible-header waves-effect waves-teal active">JavaScript</a>

                            <div class="collapsible-body" style="display: block;">
                                <ul>
                                    <li><a href="#collapsible">Collapsible</a></li>
                                    <li><a href="#toast">Dialogs - Toast</a></li>
                                    <li><a href="#tooltip">Tooltip</a></li>
                                    <li><a href="#pushpin">Pushpin</a></li>
                                    <li><a href="#dropdown">Dropdown</a></li>
                                    <li><a href="#modals">Modals</a></li>
                                    <li><a href="#parallax">Parallax</a></li>
                                    <li><a href="#sidenav">SideNav</a></li>
                                    <li><a href="#slider">Slider</a></li>
                                    <li><a href="#media">Media</a></li>
                                    <li><a href="#tabs">Tabs</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold active"><a class="collapsible-header waves-effect waves-teal active">Components</a>

                            <div class="collapsible-body" style="display: block;">
                                <ul>
                                    <li><a href="#pagination">Pagination</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>-->
    </ul>
</header>