{{tool_ID}}
<div class="row">
    <text-angular ng-model="editingTool.description">
</div>

</text-angular>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" style="background-color: #19B597;">
        <i class="large material-icons">settings</i>
    </a>
    <ul>
        <li>
            <a ng-click="deleteTool()" class="btn-floating red">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </li>
        <li>
            <a href="#editProjectModal" ng-click="copyProject()" class="btn-floating blue" modal>
                <i class="material-icons">
                    mode_edit
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating green">
                <i class="material-icons">
                    play_arrow
                </i>
            </a>
        </li>

    </ul>
</div>