<div class="row">
    <div id="general" class="col s12 l12 section scrollspy">
        <h5>Información general</h5>
        <br>
        <form name="EditingToolForm" novalidate>
            <div class="input-field">
                <label for="name">Nombre</label>
                <input value="editingTool.name" name="name" type="text" id="name" ng-required="true"
                       ng-model="editingTool.name" ng-readonly="readOnlyF">
            </div>
            <div class="switch">
                <label>
                    Privada
                    <input type="checkbox" ng-disabled="readOnlyF" ng-model="editingTool.public">
                    <span class="lever"></span>
                    Pública
                </label>
            </div>
            <div class="input-field">
                <p>Documentación</p>
                <text-angular id="doc" name="doc" ta-disabled="readOnlyF" ng-model="editingTool.description"
                              ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'], ['html', 'insertImage','insertLink']]">
                </text-angular>
            </div>
        </form>
        <div style="text-align: center;">
            <button class="btn waves-effect waves-light" ng-click="switchForm()" ng-hide="!readOnlyF">
                Editar
            </button>

            <button class="btn waves-effect waves-light"
                    ng-disabled="EditingToolForm.$invalid || EditingToolForm.$pristine"
                    ng-click="updateTool(editingTool)" ng-hide="readOnlyF">Guardar
            </button>

            <button class="btn waves-effect waves-light" ng-click="switchForm()" ng-hide="readOnlyF">Cancelar</button>
        </div>
    </div>
    <div div id="params" class="col s12 l12 section scrollspy">
        <h5>Parámetros</h5>

    </div>
    <div id="files" class="col s12 l12 section scrollspy">
        <h5>Archivos</h5>
        <a ngf-select="prepareFiles($files, $invalidFiles)" multiple ngf-max-size="100MB"
           ngf-fix-orientation="false" class="waves-effect waves-light btn fixed-btn"><i
                class="material-icons right">file_upload</i>Seleccionar archivos</a>
        <table class="responsive-table" style="font-size: 12px;">
            <tbody>
            <tr ng-repeat="f in toUploadFiles">
                <td style="width: 10%;"></td>
                <td style="width: 70%;overflow: hidden; word-break: break-all;">{{f.name}}</td>
                <td style="width: 20%">{{formatSize(f.size)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" style="background-color: #19B597;">
        <i class="large material-icons">settings</i>
    </a>
    <ul>
        <li>
            <a ng-click="deleteTool()" class="btn-floating red">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </li>
    </ul>
</div>